{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <!-- Players List -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Title -->
                    <h4 class="box-title">Players List</h4>
                    <!-- Player Counter -->
                    <span id="player-counter" style="font-weight: bold; color: #007bff;">
                        Total Players Left: {{ players|length }}
                    </span>
                </div>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="serial">Player ID</th>
                                <th>Name</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if players %}
                                {% for player in players %}
                                    <tr>
                                        <td class="serial">{{ player.player_id }}</td>
                                        <td>{{ player.name }}</td>
                                        <td>{{ player.category }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="2">No Player Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-12 -->
</div>

{% endblock content %}
